<div id="navWrap">
      <div id="nav">
      <div class="float_center">
          <ul class="child">
          {{#foreach navigation}}
              <li>
                   <a href="{{url absolute="true"}}" class="smoothScroll">{{label}}</a>
              </li>
          {{/foreach}}
          </ul>    
          <br class="clearLeft" />
      </div>
      </div>
</div>