// Basics
html, body {
    height: 100%;
    max-height: 100%;
}
html {
    font-size: $font-size-root;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    background-color: $body-bg;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 300;
    color: $text-color;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color .2s ease;

    &:hover,
    &:focus {
        color: rgba(255,255,255,.75);
        text-decoration: underline;
    }
}

p {
    margin: 0 0 1rem;
}

pre, code {
    font-family: $font-family-code;
}

hr {
    margin: 1rem 0;
    border-color: lighten($border-color, 10%);
}

blockquote,
.blockquote {
    margin: 20px 0;
    padding: 1rem 1rem 1rem 1.5rem;
    border-left: 5px solid $text-color;

    p {
        margin: 0 0 1rem;

        &:last-of-type {
            margin: 0;
        }

        & + footer {
            display: block;
            font-size: 80%;
            color: darken($text-color, 25%);

            &:before {
                content: "\2014 \00A0"
            }
        }
    }
}

mark,
.mark {
    padding: 3px 6px;
    background-color: rgba(255,255,255,.75);
    border-color: rgba(0,0,0,.35);
    border-radius: 4px;
    font-size: 85%;
    color: $body-bg;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.list-inline {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0 5px;
    }
}

.wrapper {
    transition: $offcanvas-transition;
}

.tag {
    font-size: 100%;
    padding: 0;
}
