// Basics
html {
    height: 100%;
    max-height: 100%;
    font-size: $font-size-root;
    text-rendering: optimizeLegibility;
}

body {
    height: 100%;
    max-height: 100%;
    background-color: $body-bg;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 300;
    color: $text-color;
}

a {
    color: #fff;
    transition: color .2s ease;

    &:hover,
    &:focus {
        color: rgba(255,255,255,.75);
    }
}

p {
    margin: 0 0 1rem;
}

pre, code {
    font-family: $font-family-code;
}

.wrapper {
    transition: $offcanvas-transition;
}

// Fix bootstrap .tag fuckup so PrismJS looks pretty again
.tag {
    font-size: 100%;
    padding: 0;
}
