// Basics
html {
    height: 100%;
    max-height: 100%;
    font-size: $font-size-root;
    text-rendering: optimizeLegibility;
}

body {
    height: 100%;
    max-height: 100%;
    background-color: $body-bg;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 300;
    color: $text-color;
}

a {
    color: #fff;
    transition: color .2s ease;

    &:hover,
    &:focus {
        color: rgba(255,255,255,.75);
    }
}

p {
    margin: 0 0 1rem;
}

pre, code {
    font-family: $font-family-code;
}

hr {
    margin: 1rem 0;
}

blockquote,
.blockquote {
    margin: 20px 0;
    padding: 1rem 1rem 1rem 1.5rem;
    border-left: 5px solid $text-color;

    p {
        margin: 0 0 1rem;

        &:last-of-type {
            margin: 0;
        }

        & + footer {
            display: block;
            font-size: 80%;
            color: darken($text-color, 25%);

            &:before {
                content: "\2014 \00A0"
            }
        }
    }
}

mark,
.mark {
    padding: 3px 6px;
    background-color: rgba(255,255,255,.75);
    border-color: rgba(0,0,0,.35);
    border-radius: 4px;
    font-size: 85%;
    color: $body-bg;
}

.wrapper {
    transition: $offcanvas-transition;
}

// Fix bootstrap .tag fuckup so PrismJS looks pretty again
.tag {
    font-size: 100%;
    padding: 0;
}
