// Font faces & typography
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
    src: url('../fonts/RobotoSlab-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2');
    src: url('../fonts/RobotoSlab-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    src: url('../fonts/Roboto-Light.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    src: url('../fonts/Roboto-Medium.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
}