h1, h2, h3,
h4, h5, h6 {
  font-family: $font-family-heading;
  text-rendering: optimizeLegibility;
  line-height: $line-height;
  margin-top: 0;
  letter-spacing: 2px;
  font-weight: normal;
}

h1 {
  font-size: $font-size-h1;
  line-height: 3.75rem;
  text-indent: -3px;

  @media (max-width: 900px) {
    font-size: $font-size-h2;
    text-indent: -2px;
  }
  @media (max-width: 500px) {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -1px;
  }
}

h2 {
  font-size: $font-size-h2;
  line-height: 3.75rem;
  text-indent: -2px;

  @media (max-width: 900px) {
    font-size: $font-size-h3;
  }
  @media (max-width: 500px) {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -1px;
  }
}

h3 {
  font-size: $font-size-h3;

  @media (max-width: 900px) {
    font-size: $font-size-h4;
  }
  @media (max-width: 500px) {
    font-size: 28px;
  }
}

h4 {
  font-size: $font-size-h4;

  @media (max-width: 500px) {
    font-size: 23px;
  }
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

a {
  color: #fff;
  @include transition(color .2s ease);
  &:hover,
  &:focus {
    color: rgba(255,255,255,.54);
  }
}

pre, code {
  font-family: $font-family-code;
}

// Fix bootstrap .tag fuckup so PrismJS looks pretty again
.tag {
  font-size: 100%;
  padding: 0;
}
