// Typography
h1, h2, h3,
h4, h5, h6 {
    margin-top: 0;
    font-family: $font-family-heading;
    font-weight: 400;
    line-height: 1;
}

h1 {
    font-size: 3rem;

    @media (min-width: 576px) {
        font-size: $font-size-h2;
    }

    @media (min-width: 992px) {
        font-size: $font-size-h1;
    }
}

h2 {
    font-size: 2rem;

    @media (min-width: 576px) {
        font-size: $font-size-h3;
    }

    @media (min-width: 992px) {
        font-size: $font-size-h2;
    }
}

h3 {
    font-size: 1.75rem;

    @media (min-width: 576px) {
        font-size: $font-size-h4;
    }

    @media (min-width: 992px) {
        font-size: $font-size-h3;
    }
}

h4 {
    font-size: 1.4375rem;

    @media (min-width: 576px) {
        font-size: $font-size-h4;
    }
}

h5 { font-size: $font-size-h5; }

h6 { font-size: $font-size-h6; }
