//
// Shade variables
// 

// Colors
$gray:                      #607D8B !default;
$gray-light:                #90a4ae !default;
$gray-lighter:              #b0bec5 !default;
$gray-lightest:             #cfd8dc !default;
$gray-dark:                 #37474f !default;
$gray-darker:               #263238 !default;

$body-bg:                   $gray-dark !default;
$header-bg:                 $gray-darker !default;
$footer-bg:                 $gray-darker !default;

$text-color:                $gray-lightest !default;
$header-text-color:         darken($text-color, 15%) !default;

$heading-color:             $gray-light !default;
$heading-hover-color:       $gray-lighter !default;

$meta-color:                $gray !default;
$meta-hover-color:          lighten($meta-color, 18%) !default;
$meta-tag-color:            $gray-lighter !default;

$border-color:              rgba(255,255,255,.05) !default;

$code-bg:                   $gray-darker !default;

$pagination-bg:             $gray-darker !default;

// Fonts
@import 'fonts';
$font-family:               "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-heading:       "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;
$font-family-code:          "Liberation Mono", Menlo, Consolas, Monaco, "Lucida Console", monospace !default;

$font-size-root:            16px !default;

$font-size-h1:              3.125rem !default;  // 50px
$font-size-h2:              2.5rem !default;    // 40px
$font-size-h3:              2rem !default;      // 32px
$font-size-h4:              1.625rem !default;  // 26px
$font-size-h5:              1.25rem !default;   // 20px
$font-size-h6:              1rem !default;      // 16px

$line-height:               1.5 !default;

// Sidebar
$sidebar-width:             230px !default;
$sidebar-bg:                lighten($gray-darker, 10%) !default;
$sidebar-link-color:        $text-color !default;
$sidebar-link-hover-color:  darken($text-color, 15%);
$sidebar-img-height:        80px;

// Offcanvas
$offcanvas-transition:  all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
