// Nav
.navbar {
  position: fixed;
  width: 100%;
  border-radius: 0;
  background-color: $header-bg;
  margin: 0 -15px;
  padding: 15px;
  z-index: 1;

  .navbar-toggler {
    color: darken($text-color, 15%);
    outline: 0;
    transition: color .2s ease;
    &:hover,
    &:focus,
    &:active {
      color: lighten($text-color, 10%);
      outline: 0;
    }
  }

  .navbar-side {
    height: 100%;
    width: 85%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid rgba(255,255,255,.05);
    background-color: #37474F;
    z-index: 1000;
    transform: translateX(100%);
    transition: .2s ease;
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 992px) {
      width: 25%;
      max-width: 240px;
    }
    &.reveal {
      transform: translateX(0%);
      transition: .2s ease;
    }

    .navbar-side-item {
      padding: 1.5rem 0;
      margin: 0;
      border-bottom: 1px solid rgba(255,255,255,.05);
      height: 5rem;

      a {
        color: darken($text-color, 10%);
        font-weight: normal;
        padding-left: 2rem;
        transition: color .2s ease;
        &:hover,
        &:focus {
          cursor: pointer;
          color: lighten($text-color, 10%);
          text-decoration: none;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #000;
    opacity: 0.6;
    z-index: 990;
  }
}
