.pagination {
  position: relative;
  margin: 40px auto;
  font-family: $font-family;
  font-size: .875rem;
  color: $text-color;
  text-align: center;

  @media (max-width: 500px) {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  a {
    color: $text-color;
  }
}

.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: 1px solid $border-color;
  text-decoration: none;
  border-radius: 4px;
  background-color: $pagination-bg;
  @include transition(border .2s ease);
  &:hover,
  &:focus {
    border-color: $pagination-bg;
  }

  @media (max-width: 500px) {
    position: static;
    margin: 10px 0;
  }
}

.older-posts {
  right: 0;
}

.newer-posts {
  left: 0;
}

.page-number {
  display: inline-block;
  padding: 2px 0;

  @media (max-width: 500px) {
    display: block;
  }
}
