.post {
  position: relative;
  width: 80%;
  max-width: 850px;
  margin: 2.5rem auto;
  padding-bottom: 2.5rem;
  border-bottom: $header-bg 1px solid;
  word-break: break-word;

  @media (max-width: 900px) {
    font-size: .875rem;
    line-height: 1;
  }
  @media (max-width: 500px) {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: .875rem;
    line-height: 1;
  }

  .post-header {
    .post-title {
      margin: 0;
      color: $heading-color;
      a {
        color: $heading-color;
        @include transition(color .2s ease);
        &:hover,
        &:focus {
          color: $heading-hover-color;
        }
      }
    }

    .post-meta {
      display: inline-block;
      margin: 0 0 5px 0;
      font-size: .875rem;
      color: $meta-color;
      a {
        color: $meta-color;
        text-decoration: none;
        @include transition(color .2s ease);
        &:hover,
        &:focus {
          color: $meta-hover-color;
          text-decoration: underline;
        }
      }
    }
  }

  .post-excerpt {
    p {
      margin: 1rem 0 0;
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}