.post-template {
  .post {
    margin: 0 auto 2.5rem auto;
    border-bottom: 0;
    padding-bottom: 0;
    position: relative;
    width: 80%;
    max-width: 850px;
    word-break: break-word;
    &:after {
      display: none;
    }

    @media (max-width: 900px) {
      font-size: .875rem;
      line-height: 1;
      padding-bottom: 10px;
    }
    @media (max-width: 500px) {
      width: auto;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: .875rem;
      line-height: 1;
      padding-bottom: 0;
    }

    .post-header {
      padding: 3.75rem auto 0 auto;

      @media (max-width: 900px) {
        padding: 40px 0;
      }
      @media (max-width: 500px) {
        padding: 30px auto;
      }

      #blog-logo {
        overflow: hidden;
        display: block;
        margin: 25px auto 50px auto;

        @media (max-width: 500px) {
          width: 80px;
        }

        img {
          display: block;
          max-height: 100px;
          width: auto;
          line-height: 0;

          @media (max-width: 500px) {
            max-height: 80px;
          }
        }
      }
    }

    .home-button {
      border-radius: 3px;
      background-color: $button-bg;
      border: 2px solid $button-border;
      padding: 7px 12px;
      text-decoration: none;
      color: $button-text;
      @include transition(all .2s ease);
      &:hover,
      &:focus {
        background-color: $button-hover-bg;
        border: 2px solid $button-hover-border;
        color: $button-hover-text;
        outline: 0;
      }
    }

    .post-meta {
      display: inline-block;
      margin: 0 0 5px 0;
      font-size: .875rem;
      color: $meta-color;
      @include transition(color .2s ease);

      @media (max-width: 500px) {
        font-size: 13px;
      }

      a {
        color: $meta-color;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $meta-hover-color;
          text-decoration: underline;
        }
      } 
    }

    .post-title {
      margin: 0;
      color: $heading-color;
    }

    .post-content {
      p {
        margin: 1rem 0 0;
        &:last-of-type {
          margin: 0;
        }
      }

      h2, h3, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    .post-footer {
      position: relative;
      margin: 2.5rem 0 0;
      padding: 1.5rem 0 0;
      border-top: 2px solid $border-color;

      @media (max-width: 500px) {
        padding: 40px 0;
        text-align: center;
      }

      .share {
        position: absolute;
        right: 0;
        width: 140px;

        @media (max-width: 500px) {
          position: static;
          width: auto;
        }

        h4 {
          font-size: 1.125rem;
          margin: 0;
        }

        a {
          font-size: 1.125rem;
          display: inline-block;
          margin: .875rem 1rem 1rem 0;
          color: $text-color;
          @include transition(color .2s ease);
          &:hover,
          &:focus {
            color: lighten($text-color, 10%);
          }

          @media (max-width: 500px) {
            margin: .0875rem .5rem 0 .5rem;
          }
        }
      }
    }
  }
}