// Buttons
.btn {
    display: inline-block;
    min-width: 7rem;
    padding: .5rem 1.125rem; // 8px 18px
    background-color: $gray-dark;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 400;
    color: darken($text-color, 10%); 
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: background-color .2s ease;

    &:hover,
    &:focus,
    &:active,
    &:hover:active {
        border: 1px solid transparent;
        text-decoration: none;
        outline: 0;
    }
}

.btn-shade {
    background-color: darken($gray-darker, 5%);

    &:hover,
    &:focus {
        color: darken($text-color, 10%);
        background-color: darken($gray-darker, 10%);
    }
}