footer {
  margin: 40px 0 0;
  padding: 40px 0;
  border-top: 1px solid $border-color;
  color: darken($text-color, 20%);
  text-align: center;
  background-color: $footer-bg;

  @media (max-width: 500px) {
    margin-top: 40px;
    font-size: .6875rem;
  }

  a {
    color: $text-color;
    text-decoration: none;
    @include transition(color .2s ease);
    &:hover,
    &:focus {
      color: lighten($text-color, 10%);
      cursor: pointer;
    }
  }
}
