// Nav
.navbar {
    transition: all .5s .1s;
    //transition: all .3s .1s ease-in-out;

    &.navbar-solid {
        background-color: $body-bg !important;
        box-shadow: 0px 0px 12px -3px rgba(0,0,0,.15);
    }

    &.fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;        
        z-index: 1030;
    }
}

.navbar-shade {
    .container {
        position: relative;
        transform: translate3d(0px, 0, 0);
        transition: $offcanvas-transition;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    .navbar-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .navbar-brand {
            margin-right: auto;

            &:hover,
            &:focus,
            &:active,
            &:hover:active {
                color: inherit;
            }

            h1 {
                margin: 0;
                font-family: $font-family;
                font-size: 1.5rem;
            }
        }

        > .navbar-toggler {
            margin-left: auto;
            padding: 0;        
            width: 25px;
            height: 25px;
            border: 0;
            border-radius: 0;
            outline: none;
            cursor: pointer;
            
            &:hover,
            &:focus,
            &:active,
            &:hover:active {
                cursor: pointer;
            }

            @media (min-width: 768px) {
                display: block;
            }

            .icon-bar {
                display: block;
                position: relative;
                width: 24px;
                height: 2px;
                border-radius: 1px;
                background-color: #888;

                & + .icon-bar {
                    margin-top: 4px;
                }

                &.bar1 {
                    top: 0;
                    outline: 1px solid transparent;
                    animation: topbar-back 500ms 0s;
                    animation-fill-mode: forwards;
                }

                &.bar2 {
                    outline: 1px solid transparent;
                    opacity: 1;
                }

                &.bar3 {
                    bottom: 0;
                    outline: 1px solid transparent;
                    animation: bottombar-back 500ms 0s;
                    animation-fill-mode: forwards;
                }
            }

            &.toggled {
                .icon-bar {
                    &.bar1 {
                        top: 6px;
                        animation: topbar-x 500ms 0s;
                        animation-fill-mode: forwards;
                    }

                    &.bar2 {
                        opacity: 0;
                    }

                    &.bar3 {
                        bottom: 6px;
                        animation: bottombar-x 500ms 0s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
}

body > .navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: $sidebar-width;
    height: 100%;
    padding: 0 20px;
    background-color: $sidebar-bg;
    border-top: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.21);
    text-align: left;
    transform: translate3d(#{$sidebar-width}, 0, 0);
    transition: $offcanvas-transition;
    overflow-y: visible;
    visibility: visible;
    z-index: 1032;

    .navbar-side-item {
        display: block;
        padding: .5rem 0;
        color: $sidebar-link-color;
        transition: color .2s ease-in-out;

        &:hover,
        &:focus,
        &:active,
        &:hover:active {
            color: $sidebar-link-hover-color;
        }
    }
}

body > #overlay {
    content: "";
    position: fixed;
    top: 0;
    left: auto;
    right: $sidebar-width;
    height: 100%;
    width: 100%;
    opacity: 0;
    overflow-x: hidden;
    //z-index: 1029;

    // @media (max-width: 767px) {
    //     right: $sidebar-width;
    // }
}

.navbar.navbar-shade .navbar-collapse.collapse,
.navbar.navbar-shade .navbar-collapse.collapse.in,
.navbar.navbar-shade .navbar-collapse.collapsing {
    display: none !important;
}

.nav-open {
    .navbar-collapse {
        transform: translate3d(0px, 0, 0);
    }

    .navbar .container {
        transform: translate3d(-200px, 0, 0);
    }

    .wrapper {
        transform: translate3d(-150px, 0, 0);
    }
}

.nav-image {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,.1);

    img {
        display: inline-block;
        height: $sidebar-img-height;
    }

    span {
        position: relative;
        top: 25px;
        //font-family: $font-subtitle;
        font-size: 3.78rem;
    }
}
