.pagination {
    display: flex;
    padding-left: 0;
    list-style-type: none;

    .page-item {
        .page-link {
            position: relative;
            display: block;
            min-width: 7rem;
            margin-left: -1px;
            padding: .5rem 1.125rem;
            background-color: darken($header-bg, 5%);
            border: 1px solid transparent;
            border-radius: 2px;
            font-size: 1rem;
            font-weight: 400;
            color: darken($text-color, 10%);
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            transition: background-color .2s ease-in-out;

            &:hover,
            &:focus {
                color: darken($text-color, 10%);
                text-decoration: none;
                background-color: darken($header-bg, 10%);
            }
        }

        &:first-child {
            .page-link {
                margin-left: 0;
            }
        }
    }
}
