.pagination {
    display: flex;
    padding-left: 0;
    list-style-type: none;

    .page-item {
        .page-link {
            position: relative;
            display: block;
            margin-left: -1px;
            padding: .25rem .5rem;
            background-color: darken($header-bg, 10%);
            border: 1px solid darken($header-bg, 10%);
            border-radius: 2px;
            font-size: .875rem;
            color: darken($text-color, 10%);
            line-height: 1.25;
            transition: background-color .2s ease-in-out, border-color .2s ease-in-out ;

            &:hover,
            &:focus {
                color: darken($text-color, 10%);
                text-decoration: none;
                background-color: darken($header-bg, 5%);
                border-color: darken($header-bg, 5%);
            }
        }

        &:first-child {
            .page-link {
                margin-left: 0;
            }
        }
    }
}
