// Posts
.post {
    margin: 2.5rem auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    font-size: 1rem;
    word-break: break-word;

    @media (min-width: 576px) {
        margin-left: 0;
        margin-right: 0;
    }

    @media (min-width: 992px) {
        font-size: 1.125rem;
    }

    .post-header {
        .post-image {
            img {
                margin: 0 0 1rem;
                width: 100%;
                height: auto;
                border-radius: 3px;
            }
        }

        .post-title {
            margin: 0 0 1.5rem;
            font-size: 2.5rem;
            color: $heading-color;            

            a {
                color: $heading-color;
                transition: color .2s ease;

                &:hover,
                &:focus {
                    color: $heading-hover-color;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }

        .post-meta {
            display: inline-block;
            margin: 0 0 5px 0;
            font-size: 1rem;
            color: $meta-color;

            a {
                color: lighten($meta-color, 10%);
                text-decoration: none;
                transition: color .2s ease;

                &:hover,
                &:focus {
                    color: $meta-hover-color;
                    text-decoration: underline;
                }
            }
        }
    }

    .post-excerpt {
        p {
            margin: 0 0 1rem;
            line-height: $line-height;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}
